{% extends 'web/dashboard/base.html' %} {% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/web/payc.css') }}" />

<div class="main-cover">
    <img src="{{course.banner_url}}" alt="Course Image">
</div>
<div class="main-info">
    <h1>{{course.name}}</h1>
    {%if course.descriptio%}
    <p>{{course.description}}</p>{% else %}
    <p>لا يوجد وصف لهذا الكورس</p>{% endif %}
</div>

<div class="buy-course">
    <center>
        <form action="/enrollCoreas/{{course.id}}" method="POST">
            <p class="course-price">السعر: {{course.price}} جنية</p>
            <input type="text" name="code" class="code" style=" color: var(--neutral-5, #58647C);
        font-size: 15px;
        padding: 15px 20px;
        font-weight: 500;
        border-radius: 10px;
        border: none;
        border: 2px solid;
        background-color: transparent;
        transition: all 0.1s ease-in-out;
        outline: none;" placeholder="اكتب الكود هنا">
            <button class="buy-button" type="submit">شراء</button>
        </form>
    </center>
</div>


{% endblock %}